html, body {
  overflow-x: hidden; /* Sağa sola kaymayı engeller */
  margin: 0%;
  padding: 0%;
   
 
  
}



.welcomesensive{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.sensive{
 color: #007bff;

 .line-with-circle{
  margin-top: 40px;
  height: 2px; 
  background-color: #040404;
  border: none;
  width: 30%;
 
}

  
}
.lobox{
  border: 2px solid white ; 
  padding: 10px;          
  width: 500px;           
  margin: 20px auto;      
 
}
.Lorem{
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 200px; 
  padding: 20px; 
  font-family: Arial, Helvetica, sans-serif;
}




@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.icon1:hover img,
.icon2:hover img,
.icon3:hover img,
.icon4:hover img {
  animation: rotate 1s linear forwards;
}





.write1 {
  border: 2px solid white ; 
  padding: 10px;          
  width: 500px;           
  margin: 20px auto;      
 
     
 
}

.write2{
  border: 2px solid white ; 
  padding: 10px;          
  width: 500px;           
  margin: 20px auto;      
 
}
.write3{
  border: 2px solid white ; 
  padding: 10px;          
  width: 500px;           
  margin: 20px auto;      
 
}
.write4{
  border: 2px solid white ; 
  padding: 10px;          
  width: 500px;           
  margin: 20px auto;      
 
}

.sec1{
 text-align: center;
}


.sec2{
  text-align: center;
}

.sec3{
  text-align: center;
}

.sec4{
 text-align: center;
}

.gallery {
  text-align: center;
  position: relative;
  transition: 2s;
}

button {
  margin: 10px;
}
.ConI{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#prevButton {
  position: absolute;
  top: 50%; 
  left: -80px; 
  
  transform: translateY(-50%); 
  width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: none;
    background-color: #007bff;
}
.fa-arrow-left{
  color: white;

}

#nextButton {
  position: absolute;
  top: 50%; 
  
  right: -80px; 
  transform: translateY(-50%); 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: none;
  background-color: #007bff;

}
.fa-arrow-right{

  color: white;

}


@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
  
}
   
 
  

  







.line-with-circle{
  margin-top: 40px;
  height: 2px; 
  background-color: #040404;
  border: none;
  width: 30%;
 
}

